  .container{
    table-layout: fixed;
    width:100%;
    .table{
      width: 80px;
    }
    .sentence{
      word-wrap: break-word;
      width: 250px;
    }
    .image{
      width: 250px;

    } 

  }